body{
	font-family: 'Orbitron', sans-serif;
	background-color: #DDE5E9;
	padding: 10px;
}

.available{
	color: #50A350;
}
.notAvailable{
	color: #D46D6D;
}

li i[class^="icon-"],
li i[class*=" icon-"],
li .item{
	width: 50px;
	height: 50px;
	padding: 5px;
	border: solid 1px grey;
	border-radius: 3px;
	text-align: center;
	background-color: #D8D8D8;
	display: block;
	position: relative;
	margin-bottom: 36px;
	background-size: 90%;
background-position: center center;
}

li i.icon-arrow-right{
	border: none;
	background-color: transparent;
	padding: 15px 0;
	height: 40px;
	font-size: 35px;
	line-height: 40px;
}

li{
	list-style: none;
	float: left;
	margin: 0 3px;
	position: relative;
}

li .name{
	position: absolute;
	font-size: 12px;
	font-family: monospace;
	top: 62px;
	left: 0;
	width: 62px;
}

li i .num{
	background-color: #CECECE;
	position: absolute;
	bottom: 0;
	right: 0px;
	width: 17px;
	height: 17px;
	font-size: 12px;
	text-align: center;
	border-top-left-radius: 3px;
}

ul, h2{
	clear: both;
	padding: 0;
}

ul{
	overflow: auto;
	margin-bottom: 20px;
}

button{
	font-family: 'Orbitron', sans-serif;
	width: 80px;
	padding: 2px;
	height: 60px;
	font-weight: 700;
	font-size: 12px;
}

.box{
	float: left;
	margin-right: 20px;
	border: solid 2px #808080;
	border-radius: 5px;
	padding: 10px 20px;
	width: 520px;
	background: #CBD6DB;
	overflow: auto;
}

.inner_box{
	width: 500px;
}

.iteminfo{
	display: block;
	font-size: 12px;
	position: absolute;
	top: 0px;
	left: 63px;
	background-color: #F0E8E8;
	width: 120px;
	padding: 2px 5px;
	z-index: 100;
	border: solid 1px #000;
	border-radius: 5px;
	font-family: monospace;
	display: none;
}

li:hover .iteminfo{
	display:block;
}

.iteminfo h3{
	margin:5px 0;
}

.iteminfo dt,
.iteminfo dd {
	display: inline-block;
	width: 85px;
	margin: 0;
}

.iteminfo dd {
	display: inline-block;
	width: 35px;
}

footer{
	font-size: 12px;
	display:inline-block;
	clear:both;
}