html {
    height:100%;
    margin: 0;
    padding: 0;
}

body {
    height:100%;
    position:absolute; top:0; bottom:0; right:0; left:0;
	background-color: #001221;
	font-family: arial;
	color: white;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
    margin: 0;
    padding: 0;
}

#fps {
	position: absolute;
	top: 10px;
	right: 10px
}

#arrow-wrap {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0
}

#gameContainer {
    height:100%;
    position:absolute; top:0; bottom:0; right:0; left:0;
}

#arrows {
	width: 420px;
	margin: 0 auto
}

.arrow {
	cursor: pointer;
	float: left;
	text-align: center;
	font-size: 40px;
	width: 80px;
	height: 54px;
	margin: 10px;
	background: rgba(20, 20, 120, 0.5);
	border: 2px solid white;
	border-radius: 5px
}

.arrow:hover {
	background: rgba(20, 20, 120, 0.8);
}

.inactive {
	background: rgba(10, 10, 10, 0.5);
	border: 2px solid grey
}

.inactive:hover {
	background: rgba(10, 10, 10, 0.8);
}

.debugInfo {
    background: rgba(10, 10, 10, 0.5);
    font-size: 10px;
    color: white;
    font-family: monospace;
    font-style: normal;
}

.debugLeftPadding {
    padding-left: 20px;
    color: lightgray;
}

.debugButton {
    background: rgba(100, 100, 100, 1);
    width: 15px;
    height: 15px;
    font-family: monospace;
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}

.debugDisplayNone {
    display: none;
}

.debugDisplayBlock {
    display: block;
}