body {
	margin: 0;
	background-color: #2b2b2b;
	color: #dfdbd2;
	font-family: 'Source Code Pro', sans-serif;
}


.modal {
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
	
}

.modalHeadline {

}

#interfaceLeft {
	background-color: #3c3f41;
	float: left;
	width: 10%;
}

.interfaceSection {
	float: left;
	font-size: 15px;
	padding: 5px;
	border-bottom: 1px #666666 solid;
}

.cell {
	position: absolute;
	width: 30px;
	height: 30px;
	border: #666666 1px dotted;

}

.cellHover {
	border: 2px;
}

.brush {
	height: 30px;
	width: 30px;
	float:left;
	padding: 4px;
}

.selectedTool {
	border: 2px #519ec6 solid;
}

#editor{
 height: 300px;
}

#tabs {
	float: left;
	width: 90%;
}

#tabCtrl {
	border-left: 1px #27292a solid;
	padding-top: 2px;
	background-color: #3c3f41;
}

.tabButton {
	background-image: url('../img/editor/ui/tab.png');
	text-align: center;
	color: #599695;
	width: 114px;
	height: 23px;
	float: left;
}

.tabButton.selected {
	background-image: url('../img/editor/ui/tabSelected.png');
}

.selectedCell {
	border: #FFFFFF 1px solid;
}

.clear{
	clear:both;
}

